button { font-size: 20px; }

.grid {
  width: 20%;
  height: 125px;
  background: #DDD;
  float: left;

}

.grid-item1 {
  width: 4%;
  height: 4%;
}
.grid-item2 {
  width: 8%;
  height: 8%;
}
.grid-item3 {
  width: 12%;
  height: 12%;
}
.grid-item4 {
  width: 16%;
  height: 16%;
}
.grid-item5 {
  width: 20%;
  height: 20%;
}
.grid-item6 {
  width: 24%;
  height: 24%;
}
.grid-item7 {
  width: 28%;
  height: 28%;
}
.grid-item8 {
  width: 32%;
  height: 32%;
}
.grid-item9 {
  width: 36%;
  height: 36%;
}


.grid-item {
  width: 20%;
  height: 20px;
  margin: 0 5px 5px 0;
  background: #09F;
  float: left;
  transition: transform 0.4s;
}

.grid-item.is-moved {
  transform: translateX(145px);
}