body {
	font-family: "Helvetica";
	font-size: 16pt;
}



.content
{
	font: "Times New Roman";
	font-size: 22px;
	font-weight: 200;
	margin-left: 35px;
	margin-bottom: 10px;
	margin-top: 10px;
	position: absolute;
}

.name
{
	margin: auto;
	text-align: center;
	color: black;
	text-decoration: none;
	font-size: 80px;
	background-color: white;
}

.price
{
	margin: auto;
	text-align: center;
	font-size: 125px;
	max-height: 310px;
	font-family: Helvetica;
	color: black;
	border-style: solid;
	border-color: white;
}

.soldoutprice
{
	margin: auto;
	text-align: center;
	font-size: 125px;
	max-height: 310px;
	font-family: Helvetica;
	color: grey;
	border-style: solid;
	border-color: white;
}

.home ul {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

.home nav {
	margin-left: auto;
	margin-right:auto;
	width: 50%;
	margin: auto;
	text-align: center;
	border-style: solid;
	background-color: white;
}

.home a {
	color: black;
	font-family: Courier;
}

a {
	text-decoration: none;
}

.buy {
	margin: auto;
	width: 50%;
	text-align: center;
	font-family: Courier;
	font-size: 30px;
	padding-top: 0;
	color: black;

}

.soldoutbuy {
	margin: auto;
	width: 50%;
	text-align: center;
	font-family: Courier;
	font-size: 30px;
	padding-top: 0;
	color: grey;

}

.buy a {
	color: black;
	font-family: Courier;
}

.buy ul {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

.links
{
	color: black;
	text-decoration: none;
}

.logo {
	margin: auto;
	text-align: center;
	position:fixed;
	color:white;
}